<div ng-controller="ftbQuestionFormController" ng-init="init()">
    <div class="ui grid ftbFullGrid">
        <div class="one column row">
            <div class="column innerScroll ftb-layout">
                <form name="ftbForm">
                    <div class="one column row qHeader">
                        <span>Enter the question</span>
                    </div>
                    <div class="outer-segment">
                        <div class="ui segments inner-segment" ng-class="{'cardBorder': $ctrl.focused, 'has-success-card':ftbForm.ftbQuestion.$valid, 'has-errorCard': submitted && (ftbForm.ftbQuestion.question.text.length == 0 || ftbForm.ftbQuestion.$error.pattern)}">
                            <div class="">
                                <div class="ui grid">
                                    <div class="twelve wide column">
                                        <div class="form-group segment textBoxDiv questionTextBox">
                                            <textarea class="form-control textboxQ-ftb" ng-class="{'has-success':ftbForm.ftbQuestion.$valid, 'has-error': submitted && (ftbForm.ftbQuestion.$error.required != true || ftbForm.ftbQuestion.$error.pattern !=true)}"
                                                placeholder="Enter the question" name="ftbQuestion" id="ftbQuestion" ng-model="ftbFormData.question.text"
                                                maxlength="220" ng-init="$ctrl.focused = false" ng-focus="$ctrl.focused = true;"
                                                ng-blur="$ctrl.focused = false" required>
                                            </textarea>
                                        </div>
                                    </div>
                                    <div class="twelve wide column">
                                        <selected-media-container media-callbacks="callbacks" formdata="ftbFormData.question" media-type='' media-index=''></selected-media-container>
                                    </div>
                                </div>
                            </div>
                            <div class="ui secondary right aligned segment custom-sec-segment" ng-if="configuration.questionConfig.isImage || configuration.questionConfig.isAudio">
                                <div class="ui grid">
                                    <div class="one column row segment-column">
                                        <div class="column right floated">
                                            <span class="custom-bottom-label">Add: </span>
                                            <span class="custom-bottom-segment ui icon" data-tooltip="{{!ftbFormData.question.image ? 'Add Image' : 'Edit Image' }}"
                                                data-inverted="" ng-click="addMedia('q', '', 'image')"><i
                                                    class="image large icon"></i></span>
                                            <span class="custom-bottom-segment ui icon" data-tooltip="{{!ftbFormData.question.audio ? 'Add Audio' : 'Edit Audio' }}"
                                                data-tooltip="Add audio" data-inverted="" ng-click="addMedia('q', '', 'audio')"><i
                                                    class="music large icon"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="one column row fib-help-text">
                        <span>Use the shortcut <b>shift+space</b> or click on the <b>Insert blank</b> button to add a blank.</span>
                    </div>
                    <div class="ui grid" ng-if="getBlanksCount() > 0">
                        <div class="two column row qHeader">
                            <div class="column">Enter correct answers</div>
                            <!-- <div class="column right floated right aligned" ng-if="allowGroups()">
                                <button class="ui labeled icon button" ng-click="toggleGroupAll()">
                                    <i ng-class="{'object group outline icon': !ftbFormData.data.groups, 'object ungroup outline icon': ftbFormData.data.groups}"></i>
                                    {{ftbFormData.data.groups ? 'Ungroup': 'Group'}}
                                </button>
                            </div> -->
                        </div>
                        <!-- <div class="one column row" ng-if="getGroupsCount() > 0">
                            <div class="column">
                                <table class="ui table" ng-repeat="(id, group) in ftbFormData.data.groups">
                                    <thead class="full-width">
                                        <tr>
                                            <th>
                                                Group {{id}}
                                                <span class="ui blue label" ng-repeat="blank in getBlanksInGroup(id)">{{blank.seq}}</span>
                                                <div class="ui right floated small primary labeled icon button" ng-click="ungroupBlanks(id)">
                                                    <i class="object ungroup outline icon"></i> Ungroup
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="ans in groupAnswers[id]">
                                            <td class="fifteen wide" ng-class="{'cardBorder': $ctrl.focused, 'has-success-card':ftbForm.ftbQuestion.$valid, 'has-errorCard': submitted && (ftbForm.ftbQuestion.question.text.length == 0 || ftbForm.ftbQuestion.$error.pattern)}">
                                                <js-tag js-tag-options="ans"></js-tag>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="full-width">
                                        <tr>
                                            <th>
                                                <div class="ui right floated small primary labeled icon button" ng-click="addAnswerToGroup(id)">
                                                    <i class="plus icon"></i> Add answer
                                                </div>
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div> -->
                        <div class="one column row" ng-if="getBlanksCount() > 0">
                            <div class="column">
                                <table class="ui table">
                                    <thead class="full-width">
                                        <tr>
                                            <th colspan="2">
                                                <div ng-if="allowGroups()" class="ui left floated icon button labeled compact" ng-click="groupAllUngroupedBlanks()">
                                                    <i class="object group outline icon"></i>Group
                                                </div>
                                                <span ng-if="getGroupsCount() > 0" class="ftb-group-title">Group <span class="ui label"
                                                        ng-repeat="blank in getBlanksInGroup(config.default_group)">{{blank.seq}}</span></span>
                                                <div ng-if="getGroupsCount() > 0" class="ui left floated icon button labeled compact" ng-click="ungroupBlanks(config.default_group)">
                                                    <i class="object ungroup outline icon"></i>Ungroup
                                                </div>
                                                <div ng-if="getGroupsCount() > 0" class="ui right floated icon button labeled compact" ng-click="addAnswerToGroup(config.default_group)">
                                                    <i class="plus icon"></i>Add Answers
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody ng-if="getBlanksCount() > 0">
                                        <tr ng-repeat="blank in getUngroupedBlanks()">
                                            <td class="one wide blank-seq-number">{{blank.seq}}</td>
                                            <td class="fifteen wide" ng-class="{'cardBorder': $ctrl.focused, 'has-success-card':ftbForm.ftbQuestion.$valid, 'has-errorCard': submitted && (ftbForm.ftbQuestion.question.text.length == 0 || ftbForm.ftbQuestion.$error.pattern)}">
                                                <js-tag js-tag-options="blankAnswers[blank.id]"></js-tag>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody ng-if="getGroupsCount() > 0">
                                        <tr ng-repeat="ans in groupAnswers[config.default_group]">
                                            <td class="fifteen wide" ng-class="{'cardBorder': $ctrl.focused, 'has-success-card':ftbForm.ftbQuestion.$valid, 'has-errorCard': submitted && (ftbForm.ftbQuestion.question.text.length == 0 || ftbForm.ftbQuestion.$error.pattern)}">
                                                <js-tag js-tag-options="ans"></js-tag>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment instructions" ng-if="0">
                        <ul>
                            <li>Use square brackets [[ ]] to indicate blanks in the sentence. The words between [[ ]] will
                                appear as blanks to student.
                            </li>
                            <li>Example: 'The tree is [[tall]] and [[strong]].' The question will be created as: 'The tree
                                is _______ and _______.' The correct answers will be 'tall' and 'strong'.
                            </li>
                        </ul>
                    </div>
                </form>
                <keyboard-config data="keyboardConfig"></keyboard-config>
            </div>
        </div>
    </div>
</div>